name: Build

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  buildLinux:
    # The type of runner that the job will run on
    runs-on: ubuntu-22.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.2.5
      # Runs a set of commands using the runners shell
      - name: Install Haxelib
        run: |
          sudo apt-get install libvlc-dev libvlccore-dev vlc glibc-source libidn-dev libidn12
          haxelib setup ~/haxelib
          haxelib install hxcpp 4.3.2 > /dev/null
          haxelib install lime 8.2.2
          haxelib install openfl 9.4.1
          haxelib --never install flixel 4.10.0
          haxelib run lime setup flixel
          haxelib run lime setup
          haxelib install flixel-tools 1.5.1
          haxelib --never install flixel-ui 2.3.3
          haxelib --never install flixel-addons 2.11.0
          haxelib install actuate 1.9.0
          haxelib install box2d 1.2.3
          haxelib install layout 1.2.1
          haxelib install systools 1.1.0
          haxelib install hscript 2.6.0
          haxelib git hxCodec https://github.com/polybiusproxy/hxCodec
          haxelib git discord_rpc https://github.com/Aidan63/linc_discord-rpc
          haxelib git polymod https://github.com/MasterEric/polymod.git
          haxelib list
      - name: Create Version Tag
        run: echo "${{github.run_id}}" > VERSION
      - name: Compile
        run: haxelib run lime build Project.xml linux --app-version="4.0.0-${{ github.run_id}}"
      - name: Publish Artifact
        uses: actions/upload-artifact@v4
        with:
          name: linuxBuild
          path: 'export/release/linux/bin'
  buildWindows:
    runs-on: windows-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2.3.0

      - uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.2.5
      # Runs a set of commands using the runners shell
      - name: Install Haxelib
        run: |
          haxelib setup C:/haxelib
          haxelib install hxcpp 4.3.2 > nul
          haxelib install lime 8.2.2
          haxelib install openfl 9.4.1
          haxelib --never install flixel 4.10.0
          haxelib run lime setup flixel
          haxelib run lime setup
          haxelib install flixel-tools 1.5.1
          haxelib --never install flixel-ui 2.3.3
          haxelib --never install flixel-addons 2.11.0
          haxelib install actuate 1.9.0
          haxelib install box2d 1.2.3
          haxelib install layout 1.2.1
          haxelib install systools 1.1.0
          haxelib install hscript 2.6.0
          haxelib git hxCodec https://github.com/polybiusproxy/hxCodec
          haxelib git discord_rpc https://github.com/Aidan63/linc_discord-rpc
          haxelib git polymod https://github.com/MasterEric/polymod.git
          haxelib list
        shell: cmd
      - name: Create Version Tag
        run: echo "${{github.run_id}}" > VERSION
      - name: Compile
        run: haxelib run lime build windows --app-version="4.0.0-${{ github.run_id}}"
      - name: Publish Artifact
        uses: actions/upload-artifact@v4
        with:
          name: windowsBuild
          path: export/release/windows/bin
  buildMac:
    runs-on: macos-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.2.5
      # Runs a set of commands using the runners shell
      - name: Install Haxelib
        run: |
          haxelib setup ~/haxelib
          haxelib install hxcpp 4.3.2 > /dev/null
          haxelib install lime 8.2.2
          haxelib install openfl 9.4.1
          haxelib --never install flixel 4.10.0
          haxelib run lime setup flixel
          haxelib run lime setup
          haxelib install flixel-tools 1.5.1
          haxelib --never install flixel-ui 2.3.3
          haxelib --never install flixel-addons 2.11.0
          haxelib install actuate 1.9.0
          haxelib install box2d 1.2.3
          haxelib install layout 1.2.1
          haxelib install systools 1.1.0
          haxelib install hscript 2.6.0
          haxelib git hxCodec https://github.com/polybiusproxy/hxCodec
          haxelib git discord_rpc https://github.com/Aidan63/linc_discord-rpc
          haxelib git polymod https://github.com/MasterEric/polymod.git
          haxelib list
      - name: Create Version Tag
        run: echo "${{github.run_id}}" > VERSION
      - name: Compile
        run: haxelib run lime build mac --app-version="4.0.0-${{ github.run_id}}"
      - name: Publish Artifact
        uses: actions/upload-artifact@v4
        with:
          name: macBuild
          path: export/release/macos/bin
